= form_for @employ do |f|
  - if @employ.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employ.errors.count, "error")} prohibited this employ from being saved:"
      %ul
        - @employ.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :contact
    = f.text_field :contact
  .field
    = f.label :address
    = f.text_area :address
  .actions
    = f.submit 'Save'
