%h1 New employ

= form_for @employ do |f|
  - if @employ.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employ.errors.count, "error")} prohibited this employ from being saved:"
      %ul
        - @employ.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name , :required => true
  .field
    = f.label :last_name
    = f.text_field :last_name , :required => true
  .field
    = f.label :role
    = f.select :role, options_for_select(%w[admin developer apm teamlead] , selected: "employ", disabled: "admin")
  .field
    = f.label :contact
    = f.text_field :contact , :required => true
  .field
    = f.label :address
    = f.text_area :address , :required => true
  = f.fields_for :user do |u|
    .field
      = u.label :email
      = u.email_field :email , :required => true
    .field
      = u.label :password
      = u.password_field :password , :required => true
    .field
      = u.label :password_confirmation
      = u.password_field :password_confirmation , :required => true

  .actions
    = f.submit 'Save'

= link_to 'Back', employs_path
