%p#notice= notice

%p
  %b First name:
  = @employ.first_name
%p
  %b Last name:
  = @employ.last_name
%p
  %b Contact:
  = @employ.contact
%p
  %b Address:
  = @employ.address

= link_to 'Edit', edit_employ_path(@employ)
\|
= link_to 'Back', employs_path
